doctype html
html
    head
        style
            include style.css
        title lab03
        body
            article Article 1
                h2 Działanie i użytkowanie systemu szablonów Pug

                section Section 1
                    h3 Lorem impsum
                    p Tekst lorem ipsum
                section Section 2